# Data Sanitization for Event Study Analysis

This notebook prepares raw tweet and market datasets for analysis without altering informational content.

**Purpose:** Event study of Elon Musk's tweets' sentiment analysis vs TSLA stock movement/behavior

## Setup

In [12]:
import pandas as pd
import os
from datetime import datetime
from pathlib import Path

# Define paths
BASE_DIR = Path.cwd().parent
RAW_DATA_DIR = BASE_DIR / 'data' / 'raw'
SANITIZED_DATA_DIR = BASE_DIR / 'data' / 'sanitized'

# Create sanitized directory if it doesn't exist
os.makedirs(SANITIZED_DATA_DIR, exist_ok=True)

print("=" * 80)
print("TWEET AND MARKET DATA SANITIZATION")
print("=" * 80)

================================================================================
TWEET AND MARKET DATA SANITIZATION
================================================================================

## 1. Sanitize All Musk Posts

Process the complete collection of Elon Musk's tweets.

In [13]:
print("\n1. Processing all_musk_posts.csv...")
try:
    df_musk_posts = pd.read_csv(f'{RAW_DATA_DIR}/all_musk_posts.csv')
    print(f"   Original shape: {df_musk_posts.shape}")
    print(f"   Columns: {list(df_musk_posts.columns)}")
    
    # Convert createdAt to datetime
    df_musk_posts['createdAt'] = pd.to_datetime(df_musk_posts['createdAt'], utc=True)
    
    # Remove exact duplicates (keeping all columns)
    original_len = len(df_musk_posts)
    df_musk_posts = df_musk_posts.drop_duplicates()
    duplicates_removed = original_len - len(df_musk_posts)
    print(f"   Duplicates removed: {duplicates_removed}")
    
    # Remove posts with missing critical fields (id, createdAt)
    df_musk_posts = df_musk_posts.dropna(subset=['id', 'createdAt'])
    
    # Sort by date (oldest to newest)
    df_musk_posts = df_musk_posts.sort_values('createdAt')
    
    # Reset index
    df_musk_posts = df_musk_posts.reset_index(drop=True)
    
    # Save sanitized data
    output_path = f'{SANITIZED_DATA_DIR}/all_musk_posts_sanitized.csv'
    df_musk_posts.to_csv(output_path, index=False)
    print(f"   Sanitized shape: {df_musk_posts.shape}")
    print(f"   Date range: {df_musk_posts['createdAt'].min()} to {df_musk_posts['createdAt'].max()}")
    print(f"   ✓ Saved to: {output_path}")
    
except Exception as e:
    print(f"   ✗ Error processing all_musk_posts.csv: {e}")

1. Processing all_musk_posts.csv...

/var/folders/31/8pp98wv16bndwy82vg6vrpv00000gp/T/ipykernel_89152/2108138232.py:3: DtypeWarning: Columns (0: isReply, 1: isPinned, 2: isRetweet, 3: isQuote, 4: isConversationControlled) have mixed types. Specify dtype option on import or set low_memory=False.
  df_musk_posts = pd.read_csv(f'{RAW_DATA_DIR}/all_musk_posts.csv')

   Original shape: (55099, 24)
   Columns: ['id', 'url', 'twitterUrl', 'fullText', 'retweetCount', 'replyCount', 'likeCount', 'quoteCount', 'viewCount', 'createdAt', 'bookmarkCount', 'isReply', 'inReplyToId', 'conversationId', 'inReplyToUserId', 'inReplyToUsername', 'isPinned', 'isRetweet', 'isQuote', 'isConversationControlled', 'possiblySensitive', 'quoteId', 'quote', 'retweet']
   Duplicates removed: 0
   Sanitized shape: (55099, 24)
   Date range: 2010-06-04 18:31:57+00:00 to 2025-04-13 21:28:44+00:00
   ✓ Saved to: /Users/albertang/Documents/GitHub/tweet-driven-market-reactions/data/sanitized/all_musk_posts_sanitized.csv

### Preview Sanitized Musk Posts

In [14]:
# Display first few rows
df_musk_posts.head()

,id,url,twitterUrl,fullText,retweetCount,replyCount,likeCount,quoteCount,viewCount,createdAt,...,inReplyToUserId,inReplyToUsername,isPinned,isRetweet,isQuote,isConversationControlled,possiblySensitive,quoteId,quote,retweet
0,15434727182,https://x.com/elonmusk/status/15434727182,https://twitter.com/elonmusk/status/15434727182,"Please ignore prior tweets, as that was someon...",697.0,1422.0,6392.0,400.0,NaN,2010-06-04 18:31:57+00:00,...,NaN,NaN,False,False,False,False,NaN,NaN,NaN,NaN
1,142179928203460608,https://x.com/elonmusk/status/142179928203460608,https://twitter.com/elonmusk/status/1421799282...,Went to Iceland on Sat to ride bumper cars on ...,27.0,40.0,197.0,9.0,NaN,2011-12-01 09:55:11+00:00,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
2,142188458125963264,https://x.com/elonmusk/status/142188458125963264,https://twitter.com/elonmusk/status/1421884581...,I made the volume on the Model S http://t.co/w...,19.0,43.0,124.0,8.0,NaN,2011-12-01 10:29:04+00:00,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
3,142880871391838208,https://x.com/elonmusk/status/142880871391838208,https://twitter.com/elonmusk/status/1428808713...,"Great Voltaire quote, arguably better than Twa...",36.0,31.0,87.0,7.0,NaN,2011-12-03 08:20:28+00:00,...,NaN,NaN,False,False,False,False,NaN,NaN,NaN,NaN
4,142881284019060736,https://x.com/elonmusk/status/142881284019060736,https://twitter.com/elonmusk/status/1428812840...,That was a total non sequitur btw,12.0,42.0,133.0,9.0,NaN,2011-12-03 08:22:07+00:00,...,NaN,NaN,False,False,False,False,NaN,NaN,NaN,NaN

In [15]:
# Display basic statistics
df_musk_posts.info()

<class 'pandas.DataFrame'>
RangeIndex: 55099 entries, 0 to 55098
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        55099 non-null  int64
 1   url                       55099 non-null  str
 2   twitterUrl                55099 non-null  str
 3   fullText                  55099 non-null  str
 4   retweetCount              55009 non-null  float64
 5   replyCount                54297 non-null  float64
 6   likeCount                 55009 non-null  float64
 7   quoteCount                54271 non-null  float64
 8   viewCount                 34455 non-null  float64
 9   createdAt                 55099 non-null  datetime64[us, UTC]
 10  bookmarkCount             54271 non-null  float64
 11  isReply                   54271 non-null  object
 12  inReplyToId               39497 non-null  float64
 13  conversationId            54297 non-null  float64
 14  inReplyToUserId           39521 non-null  float64
 15  inReplyToUsername         39521 non-null  str
 16  isPinned                  54271 non-null  object
 17  isRetweet                 55009 non-null  object
 18  isQuote                   54983 non-null  object
 19  isConversationControlled  54271 non-null  object
 20  possiblySensitive         4921 non-null   object
 21  quoteId                   7541 non-null   float64
 22  quote                     7273 non-null   str
 23  retweet                   1092 non-null   str
dtypes: datetime64[us, UTC](1), float64(10), int64(1), object(6), str(6)
memory usage: 10.1+ MB

## 2. Sanitize Musk Quote Tweets

Process Elon Musk's quote tweets (tweets where he quoted/responded to other tweets).

In [16]:
print("\n2. Processing musk_quote_tweets.csv...")
try:
    df_quote_tweets = pd.read_csv(f'{RAW_DATA_DIR}/musk_quote_tweets.csv')
    print(f"   Original shape: {df_quote_tweets.shape}")
    print(f"   Columns: {list(df_quote_tweets.columns)}")
    
    # Convert datetime columns
    df_quote_tweets['orig_tweet_created_at'] = pd.to_datetime(df_quote_tweets['orig_tweet_created_at'], utc=True)
    df_quote_tweets['musk_quote_created_at'] = pd.to_datetime(df_quote_tweets['musk_quote_created_at'], utc=True)
    
    # Remove exact duplicates
    original_len = len(df_quote_tweets)
    df_quote_tweets = df_quote_tweets.drop_duplicates()
    duplicates_removed = original_len - len(df_quote_tweets)
    print(f"   Duplicates removed: {duplicates_removed}")
    
    # Remove entries with missing critical fields
    df_quote_tweets = df_quote_tweets.dropna(subset=['musk_tweet_id', 'musk_quote_created_at'])
    
    # Sort by Musk's quote tweet date
    df_quote_tweets = df_quote_tweets.sort_values('musk_quote_created_at')
    
    # Reset index
    df_quote_tweets = df_quote_tweets.reset_index(drop=True)
    
    # Save sanitized data
    output_path = f'{SANITIZED_DATA_DIR}/musk_quote_tweets_sanitized.csv'
    df_quote_tweets.to_csv(output_path, index=False)
    print(f"   Sanitized shape: {df_quote_tweets.shape}")
    print(f"   Date range: {df_quote_tweets['musk_quote_created_at'].min()} to {df_quote_tweets['musk_quote_created_at'].max()}")
    print(f"   ✓ Saved to: {output_path}")
    
except Exception as e:
    print(f"   ✗ Error processing musk_quote_tweets.csv: {e}")

2. Processing musk_quote_tweets.csv...
   Original shape: (7273, 21)
   Columns: ['orig_tweet_id', 'orig_tweet_created_at', 'orig_tweet_text', 'orig_tweet_url', 'orig_tweet_twitter_url', 'orig_tweet_username', 'orig_tweet_retweet_count', 'orig_tweet_reply_count', 'orig_tweet_like_count', 'orig_tweet_quote_count', 'orig_tweet_view_count', 'orig_tweet_bookmark_count', 'musk_tweet_id', 'musk_quote_tweet', 'musk_quote_retweet_count', 'musk_quote_reply_count', 'musk_quote_like_count', 'musk_quote_quote_count', 'musk_quote_view_count', 'musk_quote_bookmark_count', 'musk_quote_created_at']
   Duplicates removed: 0

   Sanitized shape: (7273, 21)
   Date range: 2015-06-27 11:25:51+00:00 to 2025-04-13 14:39:37+00:00
   ✓ Saved to: /Users/albertang/Documents/GitHub/tweet-driven-market-reactions/data/sanitized/musk_quote_tweets_sanitized.csv

### Preview Sanitized Quote Tweets

In [17]:
# Display first few rows
df_quote_tweets.head()

,orig_tweet_id,orig_tweet_created_at,orig_tweet_text,orig_tweet_url,orig_tweet_twitter_url,orig_tweet_username,orig_tweet_retweet_count,orig_tweet_reply_count,orig_tweet_like_count,orig_tweet_quote_count,...,orig_tweet_bookmark_count,musk_tweet_id,musk_quote_tweet,musk_quote_retweet_count,musk_quote_reply_count,musk_quote_like_count,musk_quote_quote_count,musk_quote_view_count,musk_quote_bookmark_count,musk_quote_created_at
0,614551591601844224,2015-06-26 21:51:31+00:00,Rocket completed hold down firing today in adv...,https://x.com/SpaceX/status/614551591601844224,https://twitter.com/SpaceX/status/614551591601...,SpaceX,371,37,540,0,...,0,614756523244437504,Trying for another rocket landing tmrw. This t...,1049,133,1416,0,NaN,2,2015-06-27 11:25:51+00:00
1,629305813912326146,2015-08-06 14:59:32+00:00,Charger prototype finding its way to Model S.\...,https://x.com/Tesla/status/629305813912326146,https://twitter.com/Tesla/status/6293058139123...,Tesla,5989,602,6381,62,...,108,629348240337580035,Tesla Snakebot autocharger prototype. Does see...,1833,294,2507,2,NaN,4,2015-08-06 17:48:07+00:00
2,632992990261321728,2015-08-16 19:11:03+00:00,Apollo astronaut says UFOs came to prevent nuc...,https://x.com/Gizmodo/status/632992990261321728,https://twitter.com/Gizmodo/status/63299299026...,Gizmodo,170,42,225,0,...,1,633014219256926208,Comments section on this article is awesome ht...,740,116,1256,0,NaN,1,2015-08-16 20:35:25+00:00
3,634111598387404800,2015-08-19 21:16:00+00:00,Elon Musk wants to focus on making the world’s...,https://x.com/Forbes/status/634111598387404800,https://twitter.com/Forbes/status/634111598387...,Forbes,357,42,484,12,...,6,635214915934928896,"True, but achieving a long range affordable el...",1207,199,2147,2,NaN,3,2015-08-22 22:20:12+00:00
4,647901659033501697,2015-09-26 22:32:47+00:00,PM @narendramodi at @TeslaMotors with @elonmus...,https://x.com/PMOIndia/status/647901659033501697,https://twitter.com/PMOIndia/status/6479016590...,PMOIndia,714,75,1044,3,...,1,647939356548730882,Great discussion about solar/batteries empower...,1377,126,1596,2,NaN,0,2015-09-27 01:02:35+00:00

## 3. Sanitize TSLA Stock Data

Process Tesla stock market data (OHLCV).

In [18]:
print("\n3. Processing TSLA stock data...")
try:
    df_tsla = pd.read_csv(f'{RAW_DATA_DIR}/TSLA_2010-06-29_2025-02-13.csv')
    print(f"   Original shape: {df_tsla.shape}")
    print(f"   Columns: {list(df_tsla.columns)}")
    
    # Convert Date to datetime
    df_tsla['Date'] = pd.to_datetime(df_tsla['Date'])
    
    # Remove exact duplicates
    original_len = len(df_tsla)
    df_tsla = df_tsla.drop_duplicates()
    duplicates_removed = original_len - len(df_tsla)
    print(f"   Duplicates removed: {duplicates_removed}")
    
    # Remove rows with duplicate dates (keep first occurrence)
    date_duplicates = df_tsla.duplicated(subset=['Date'], keep='first').sum()
    if date_duplicates > 0:
        print(f"   Duplicate dates found: {date_duplicates}")
        df_tsla = df_tsla.drop_duplicates(subset=['Date'], keep='first')
    
    # Remove entries with missing critical fields
    df_tsla = df_tsla.dropna(subset=['Date', 'Close', 'Volume'])
    
    # Sort by date
    df_tsla = df_tsla.sort_values('Date')
    
    # Reset index
    df_tsla = df_tsla.reset_index(drop=True)
    
    # Save sanitized data
    output_path = f'{SANITIZED_DATA_DIR}/TSLA_sanitized.csv'
    df_tsla.to_csv(output_path, index=False)
    print(f"   Sanitized shape: {df_tsla.shape}")
    print(f"   Date range: {df_tsla['Date'].min()} to {df_tsla['Date'].max()}")
    print(f"   ✓ Saved to: {output_path}")
    
except Exception as e:
    print(f"   ✗ Error processing TSLA stock data: {e}")

3. Processing TSLA stock data...
   Original shape: (3680, 7)
   Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
   Duplicates removed: 0
   Sanitized shape: (3680, 7)
   Date range: 2010-06-29 00:00:00 to 2025-02-12 00:00:00
   ✓ Saved to: /Users/albertang/Documents/GitHub/tweet-driven-market-reactions/data/sanitized/TSLA_sanitized.csv

### Preview Sanitized TSLA Data

In [19]:
# Display first few rows
df_tsla.head()

        Date      Open      High       Low     Close  Adj Close     Volume
0 2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
1 2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2 2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
3 2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
4 2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500

In [20]:
# Display basic statistics
df_tsla.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,3680,3680.000000,3680.000000,3680.000000,3680.000000,3680.000000,3.680000e+03
mean,2017-10-18 17:37:18.260869,83.922418,85.767597,81.948660,83.894976,83.894976,9.652863e+07
min,2010-06-29 00:00:00,1.076000,1.108667,0.998667,1.053333,1.053333,1.777500e+06
25%,2014-02-24 18:00:00,12.229167,12.436167,11.973833,12.188667,12.188667,4.918238e+07
50%,2017-10-17 12:00:00,18.169334,18.418334,17.845333,18.220667,18.220667,8.195580e+07
75%,2021-06-15 06:00:00,181.850002,185.182495,177.187500,181.092499,181.092499,1.217434e+08
max,2025-02-12 00:00:00,475.899994,488.540009,457.510010,479.859985,479.859985,9.140820e+08
std,NaN,110.691512,113.171802,107.966060,110.595962,110.595962,7.746858e+07

## Summary

Display final sanitization summary.

In [21]:
print("\n" + "=" * 80)
print("SANITIZATION SUMMARY")
print("=" * 80)
print("\nSanitization steps applied:")
print("  • Removed exact duplicate rows")
print("  • Removed entries with missing critical fields (IDs, dates)")
print("  • Converted date/time fields to proper datetime format")
print("  • Sorted datasets chronologically")
print("  • Reset indices")
print("\nNote: No informational content was altered - only data quality improvements")
print("\nSanitized files saved to:", SANITIZED_DATA_DIR)
print("=" * 80)

================================================================================
SANITIZATION SUMMARY
================================================================================

Sanitization steps applied:
  • Removed exact duplicate rows
  • Removed entries with missing critical fields (IDs, dates)
  • Converted date/time fields to proper datetime format
  • Sorted datasets chronologically
  • Reset indices

Note: No informational content was altered - only data quality improvements

Sanitized files saved to: /Users/albertang/Documents/GitHub/tweet-driven-market-reactions/data/sanitized
================================================================================

## Data Overview

Quick overview of all three sanitized datasets.

In [22]:
print("\nDataset Sizes:")
print(f"  All Musk Posts: {len(df_musk_posts):,} tweets")
print(f"  Quote Tweets: {len(df_quote_tweets):,} quotes")
print(f"  TSLA Stock Data: {len(df_tsla):,} trading days")

print("\nDate Coverage:")
print(f"  Tweets: {df_musk_posts['createdAt'].min().date()} to {df_musk_posts['createdAt'].max().date()}")
print(f"  Stock: {df_tsla['Date'].min().date()} to {df_tsla['Date'].max().date()}")

Dataset Sizes:
  All Musk Posts: 55,099 tweets
  Quote Tweets: 7,273 quotes
  TSLA Stock Data: 3,680 trading days

Date Coverage:
  Tweets: 2010-06-04 to 2025-04-13
  Stock: 2010-06-29 to 2025-02-12